body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 5px; /* width of the vertical scrollbar */
  height: 5px; /* height of the horizontal scrollbar */
}

/* Optional: You can also style the track and thumb */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the thumb */
  border-radius: 5px; /* roundness of the thumb */
}

/* Optional: Hover effects */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* darker color when hovered */
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 15px solid #8a5fff;
  border-radius: 50%;
  background-size: cover;
}

.clock::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 40%;
  height: 6px;
  background: #262626;
  top: calc(50% - 3px);
  border-radius: 3px;
  animation: animate 4s linear infinite;
  transform-origin: left;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.clock::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 30%;
  top: calc(50% - 3px);
  border-radius: 3px;
  height: 6px;
  background: #262626;
  animation: anime 60s linear infinite;
  transform-origin: left;
}

@keyframes anime {
  0% {
      transform: rotate(-90deg);
  }
  100% {
      transform: rotate(270deg);
  }
}